<section data-ng-controller="PostsController" data-ng-init="find()">

	<navigation></navigation>

	<div class="main">

		<menu-bar></menu-bar>

		<page-title headingText="Posts" hasButton="true">
			<a href="/#!/posts/create" class="ui primary button">
				<i class="plus icon"></i>New Post
			</a>
		</page-title>

		<div class="inside">
			<div class="ui stackable grid row">
				<div class="sixteen wide column">

					<table class="ui striped padded table">
						<thead class="tablet-up">
							<tr>
								<th>
									Title
									<span ng-click="sortBy('post.title')">
										<i ng-show="propertyName !== 'post.title'" class="sort disabled icon"></i>
										<i ng-show="reverse === true && propertyName === 'post.title'" class="arrow up icon"></i>
										<i ng-show="reverse === false && propertyName === 'post.title'" class="arrow down icon"></i>
									</span>
								</th>
								<th class="three wide center aligned">
									Author
									<span ng-click="sortBy('post.creator.fullName')">
										<i ng-show="propertyName !== 'post.creator.fullName'" class="sort disabled icon"></i>
										<i ng-show="reverse === true && propertyName === 'post.creator.fullName'" class="arrow up icon"></i>
										<i ng-show="reverse === false && propertyName === 'post.creator.fullName'" class="arrow down icon"></i>
									</span>
								</th>
								<th class="four wide center aligned">
									Date
									<span ng-click="sortBy('post.created')">
										<i ng-show="propertyName !== 'post.created'" class="sort disabled icon"></i>
										<i ng-show="reverse === true && propertyName === 'post.created'" class="arrow up icon"></i>
										<i ng-show="reverse === false && propertyName === 'post.created'" class="arrow down icon"></i>
									</span>
								</th>
								<th class="three wide right aligned"><!--Actions--></th>
							</tr>
						</thead>
						<tbody>

							<tr data-ng-repeat="post in posts | orderBy:propertyName:reverse">
								<td>
									<a data-ng-href="#!/posts/{{post._id}}" data-ng-bind="post.title"></a>
								</td>
								<td data-labeled="Posted by" class="center aligned">
									<span data-ng-bind="post.creator.fullName"></span>
								</td>
								<td data-labeled="Date:" class="center aligned">
									<span data-ng-bind="post.created | date:'medium'"></span>
								</td>
								<td class="right aligned actions">
									<a data-ng-href="#!/posts/{{post._id}}" title="View"><i class="eye icon"></i></a>
									<a href="/#!/posts/{{post._id}}/edit" title="Edit"><i class="write icon"></i></a>
									<a data-ng-click="delete();" title="Delete"><i class="trash icon"></i></a>
								</td>
							</tr>

						</tbody>
					</table>

					<div ng-if="!posts || !posts.length" class="ui small info message">
						No posts yet! Why don't you <a href="/#!/posts/create">create one</a>?
					</div>

				</div>
			</div>

			<footer-generic></footer-generic>
		</div>
	</div>
</section>
