<div class="ui container" data-ng-controller="SettingsController" data-ng-init="find()">
	<div class="ui hidden divider"></div>
	<div class="ui stackable grid row">
		<div class="sixteen wide computer column">

			<h1 class="ui header">{{settings[0].value}}
				<div class="sub header">{{settings[1].value}}</div>
			</h1>
			<div class="ui menu">
				<a class="item">Home</a>
				<a class="item">About</a>
				<a class="item">Contact</a>
			</div>
		</div>

	</div>
	<div class="ui stackable grid row">
		<div class="ten wide tablet eleven wide computer column">

			<div class="ui items">
				<div class="item">
					<!--<div class="ui small image">
						<img src="img/image.png">
					</div>-->
					<div class="content">
						<div class="header"><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></div>
						<div class="meta">
							<span class="author">Crystal Finch</span>
							<span class="date">January 11, 2014</span>
						</div>
						<div class="description">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magnam vel illo eos voluptate, aspernatur aliquam odio id. Impedit officia laudantium similique iure magnam deleniti, vero cumque a sapiente delectus?</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="six wide tablet five wide computer column">

			<div>
				{{settings[2].value}}
			</div>

			<div class="ui hidden divider"></div>

			<h3 class="ui header">Recent Posts</h3>
			<div class="ui relaxed divided list">
				<a href="" class="item">Aspernatur aliquam odio</a>
				<a href="" class="item">Assumenda magnam vel illo eos voluptate</a>
				<a href="" class="item">Sapiente delectus</a>
			</div>

		</div>
	</div>

	<footer>
		<div class="ui divider"></div>
		<p>&copy; 2017 {{settings[0].value}}</p>
	</footer>
</div>
